.contenedor-filtros {
  display: flex;

  font-family: "Ropa Sans", sans-serif;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #525252;
}

.inputs {
  padding: 0px 25px;
  margin: 40px 10px;
  font-size: 15px;
  text-align: center;
  color: #525252;
}

.borde-recto {
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.borde-ovalado {
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 35px;
}
